<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Happy Birthday!</title>
        <style type="text/css">
        body {margin: 0; padding: 0; min-width: 100%!important;}
        .content {width: 100%; max-width: 600px;}
        </style>
    </head>
    <body bgcolor="#f6f8f1">
        <div style="margin: 20px 50px 30px 50px;">
            <a>
                С днём рождения {{ first_name }} {{ last_name }}!

            </a>
            <hr>
            <a>
                Тебе сегодня {{ age }}!
            </a>
        </div>
    </body>
</html>